body, html {
    height: 100%;
}

body{
    font-family: "Monserrat";
    margin: 0;

    .bg{
        height: 100%;
        width: 100%;
        background-color: #171717;
        position: absolute;
        z-index: -1;
    }
}
