$desktop: 840px;

$padding: 15px;
$borders: 15px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body, html {
    height: 100%;
}

body{
    font-family: "Monserrat";
    margin: 0;

    #bg{
        height: 100%;
        width: 100%;
        background-color: #171717;
        position: absolute;
        z-index: -1;
    }
}

main {
    @include desktop {
        display: grid; 
        grid-template-columns: 50%;
        grid-template-areas: "primary card";
    }

    section#primary {
        text-align: center;

        @include desktop {
            grid-area: primary;
            text-align: center;
        
        }

    }
}
